/*body {
    font-family: Lato;
    font-size: 12px;
   
}

header {
    background-color: #c0c5c3;
    font-family: Lato;
    font-size: 36px;
    height: 125px;
    padding: 10px;
    display: inline-block;
    color: #343d46;
}
.image_grid {
    float: left;
    padding: 10px;
    
}
.banner {
    float: left;
    font-size: 36px;
}
.navigation {
    font-size: 12px;
} */

/*.banner {
    font-size: 12px;
}*/


