<footer class="footer">
  <small>
    <a href="http://www.amazon.com/gp/product/B003U2TWQ8/ref=dp-kindle-redirect?ie=UTF8&btkr=1/">One Thousand Gifts</a>
    by <a href="http://www.aholyexperience.com/">Ann Voskamp</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>