<!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="hero_container">
                <h1>Change Your Life</h1>
                <h2>Save the parts of your life that matter most</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="assets/hands_sm.jpg">
            <h2 class="featurette-heading">We
                <span class="text-muted">Believe...</span>
            </h2>
            <p class="lead">We believe in the importance of gratitude. We believe that the nuzzle from a puppy, the snarky joke from a barista or the fragrance from a crab apple tree in spring are all gifts. In order to move our minds and hearts, we share our daily gifts in a beautiful way. Gratitude feeds your soul. That is what this site is for. Welcome to the community of those who drown out the shouting world by choosing joy.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="assets/tab_sm.jpg">
            <h2 class="featurette-heading">Curate Your Own
                <span class="text-muted">Visual Gratitude Board</span>
            </h2>
            <p class="lead">
              Add pictures, link to inspirational verses, add text, share with your friends, spread the joy
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="assets/girl_sm.jpg">
            <h2 class="featurette-heading">Gratitude
                <span class="text-muted">Feeds Your Soul</span>
            </h2>
            <p class="lead">Create a story by documenting your daily gifts. Gratitude allows you to</p>
            <ul class="how">
              <li>Make happy memories</li>
              <li>Be better together</li>
              <li>Thrive with energy</li>
              <li>Believe in yourself</li>
            </ul>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->